@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque3 {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    @include m.desktop_1020 {
        margin-bottom: 7rem;
    }
    @include m.desktop_1200 {
        margin-bottom: 10rem;
    }
}

.bloque3Container {
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: v.$width_mobile;
    @include m.tablet_768 {
        width: v.$width_tablet;
        // background-color: red;
    }
    @include m.desktop_1020 {
        width: v.$width_desktop_1020;
    }
    @include m.desktop_1200 {
        width: v.$width_desktop_1200;
    }
    @include m.desktop_1400 {
        width: v.$width_desktop_1400;
    }
}

.bloque3Title {
    // background-color: green;
    h3 {
        font-size: 2rem;
        color: black;
        font-weight: 400;
        margin: 0;
        @include m.desktop_1020 {
            font-size: 2.5rem;
            font-weight: 500;
        }
        @include m.desktop_1200 {
            font-size: 3rem;
        }
        @include m.desktop_1400 {
            font-size: 3.5rem;
        }
    }
}

/*================ SLIDER ===========================*/

.bloque3Slider {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    overflow: hidden;
    padding-bottom: 1rem;
    @include m.tablet_768 {
        display: none;
    }
}

.slider__container4 {
    height: auto;
    // position: relative;
    width: 100%;
    @include m.tablet_760 {
        max-width: 65rem;
    }
    @include m.desktop_1000 {
        overflow: hidden;
        // width: 50%;
    }
    @include m.desktop_1020 {
        // max-width: v.$max-width-1020;
        // max-width: 50rem;
        max-width: 100%;
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // height: 28rem;
        height: auto;
        // width: 65rem;
        width: auto !important;
        // background-color: red;
    }
    @include m.desktop_1200 {
        width: 75rem;
    }
}
  
.slider__grid4 {
    // position: relative;
    display: flex;
    height: auto;
    position: relative;
    @include m.tablet_768 {
        overflow: normal !important;
    }
    @include m.desktop_1020 {
        height: 100%;
        width: auto !important;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-items: center;
        row-gap: 1rem;
    }
}

.slider__item2.swiper-slide {
    // margin-top: 4rem;
    height: auto;
    // position: relative;
    display: grid;
    width: 100%;
    // background-color: green;
    height: auto;
    // align-content: center;
    justify-items: center;
    // margin-bottom: 3rem;

    @include m.tablet_760 {
        // padding-bottom: 8rem;
    }
    @include m.desktop_1020 {
        padding-bottom: 0;
        // margin-top: 4rem !important;
        overflow: visible !important;
        // width: auto !important;
        // width: 36.5% !important;
        // background-color: purple;
    }
    @include m.desktop_1020 {
        justify-items: center;
    }
}
 
//ancho-individual
.sliderItemInfo4 {
    // background-color: purple;
    width: 100%;
    height: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
}

.sliderItemInfo4Item {
    background: rgb(239,239,239);
    background: linear-gradient(90deg, rgba(239,239,239,1) 70%, rgba(255,255,255,1) 70%);
    height: 13rem;
    width: 100%;
    display: flex;
    column-gap: .5rem;
    .sliderItemInfo4ItemInfo {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        // background-color: purple;
        width: 13rem;
        justify-content: space-between;
        h3 {
            margin: 0;
            font-weight: 600;
            line-height: 1.5;
        }
        img {
            width: 3rem;
        }
    }
    .sliderItemInfo4ItemImage {
        width: 15rem;
        display: flex;
        align-items: center;
        img {
            border-radius: 1.5rem;
            width: 15rem;
            height: 10rem;
        }
    }
}

.sliderItemInfo4ItemInfoCalendar {
    display: flex;
    height: auto;
    width: 10rem;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
    h3 {
        display: flex;
        justify-items: center;
        align-content: center;
        font-weight: 600;
        color: white;
        margin: 0;
        font-size: 1.2rem;
    }
}

.sliderItemInfo4ItemInfoCalendar {
    display: flex;
    height: auto;
    width: 10rem;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    img {
        width: 2rem !important;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5521%) hue-rotate(343deg) brightness(97%) contrast(117%);
    }
    h3 {
        display: flex;
        justify-items: center;
        align-content: center;
        font-weight: 400;
        color: v.$color1;
        margin: 0;
        font-size: 1.2rem;
    }
}

.swiper-slide4 {
    background-image: url('../img/top-mobile-pregrado.webp') !important;
    // background-image: url('https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/banner-centro-quirurgico-enferme.webp') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-slide4 {
    background-image: url('../img/top-mobile-pregrado.webp') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next4 {
    // height: 4.5rem;
    // background-color: red !important;
    width: auto;
    height: auto;
    color: white !important;
    text-rendering: auto;
    z-index: 30;
    position: absolute !important;
    // bottom: 50%;
    bottom: .3rem;
    right: 30% !important;
    @include m.phone_360 {
        right: 26% !important;    
    }
    @include m.phone_375 {
        right: 6.5rem !important;  
    }
    // @include m.phone_390 {
    //     right: 4.5rem !important;  
    // }
    // @include m.phone_400 {
    //     right: 5.5rem !important; 
    // }
    // @include m.tablet_768 {
    //     right: 2.5rem !important;
    // }
    // @include m.desktop_1020 {
    //     bottom: 2.5rem;
    //     right: 15.5rem !important;
    // }
    // @include m.desktop_1100 {
    //     right: 19.5rem !important;
    // }
    // @include m.desktop_1300 {
    //     right: 25.5rem !important;
    // }
    // @include m.desktop_1400 {
    //     right: 30.5rem !important;    
    // }
    // @include m.desktop_1500 {
    //     right: 35.5rem !important;
    // }
    // @include m.desktop_1600 {
    //     right: 40.5rem !important;
    // }
    // @include m.desktop_1900 {
    //     right: 54.5rem !important;
    // }
    img {
        width: 1.5rem;
        filter: brightness(0) saturate(100%) invert(0%) sepia(10%) saturate(7461%) hue-rotate(63deg) brightness(95%) contrast(98%);
    }
}
  
.swiper-button-prev4 {
    // height: 4.5rem;
    // background-color: green;
    width: auto;
    height: auto;
    // color: black !important;
    position: absolute !important;
    
    // left: 2rem !important;
    text-rendering: auto;
    z-index: 30;
    bottom: .3rem;
    left: 30% !important;
    @include m.phone_360 {
        left: 26% !important;    
    }
    @include m.phone_375 {
        left: 6.5rem !important;  
    }
    @include m.phone_390 {
        left: 6.5rem !important;  
    }
    // @include m.phone_400 {
    //     left: 5.5rem !important;  
    // }
    // @include m.tablet_768 {
    //     left: 2.5rem !important; 
    // }
    // @include m.desktop_1020 {
    //     bottom: 2.5rem;
    //     left: 12.5rem !important;
    // }
    // @include m.desktop_1100 {
    //     left: 15.5rem !important;
    // }
    // @include m.desktop_1300 {
    //     left: 21.5rem !important;
    // }
    // @include m.desktop_1400 {
    //     left: 25.5rem !important;
    // }
    // @include m.desktop_1500 {
    //     left: 31.5rem !important;
    // }
    // @include m.desktop_1600 {
    //     left: 36.5rem !important;
    // }
    // @include m.desktop_1900 {
    //     left: 51.5rem !important;
    // }
    img {
        width: 1.5rem;
        filter: brightness(0) saturate(100%) invert(0%) sepia(10%) saturate(7461%) hue-rotate(63deg) brightness(95%) contrast(98%);
    }
}

.swiper-pagination4 {
    position: relative !important;
    display: block !important;
    top: auto !important;
    bottom: auto !important;
    // background-color: green;
    text-align: center;
    @include m.desktop_1020 {
        // display: none !important;
    }
}

.bullet4 {
    background-color: v.$color1 !important;
    color: v.$color1  !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bullet4.swiper-pagination-bullet {
    color: v.$color1  !important;
    background-color: v.$color1  !important;
    opacity: 1 !important;
}

// .swiper-pagination-bullet {
//     color: white !important;
//     // background-color: white !important;
//     opacity: 1 !important;
//     // transition: all .5s ease-in-out;
// }

.bullet4.swiper-pagination-bullet-active {
    background-color: black !important;
    width: 2.5rem !important;
    border-radius: .5rem !important;
    transition: all .5s ease-in-out;
}

/*================ SLIDER ===========================*/

.bloque3SliderDesktop {
    height: auto;
    position: relative;
    // display: flex;
    flex-direction: column;
    row-gap: 3rem;
    overflow: hidden;
    padding-bottom: 1rem;
    display: none;
    @include m.tablet_768 {
        display: flex;
    }
}

.slider__container6 {
    height: auto;
    // position: relative;
    width: 100%;
    @include m.desktop_1000 {
        overflow: hidden;
    }
    @include m.desktop_1020 {
        max-width: 100%;
        display: grid;
        height: auto;
        width: auto !important;
    }
    @include m.desktop_1200 {
        width: 75rem;
    }
}
  
.slider__grid6 {
    // position: relative;
    display: flex;
    height: auto;
    position: relative;
    @include m.tablet_768 {
        overflow: normal !important;
    }
    @include m.desktop_1020 {
        height: 100%;
        width: auto !important;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-items: center;
        row-gap: 1rem;
    }
}

.slider__item6.swiper-slide {
    // margin-top: 4rem;
    height: auto;
    // position: relative;
    display: grid;
    width: 100%;
    // background-color: green;
    height: auto;
    // align-content: center;
    justify-items: center;
    // margin-bottom: 3rem;

    @include m.tablet_760 {
        // padding-bottom: 8rem;
    }
    @include m.desktop_1020 {
        padding-bottom: 0;
        // margin-top: 4rem !important;
        overflow: visible !important;
        // width: auto !important;
        // width: 36.5% !important;
        // background-color: purple;
    }
    @include m.desktop_1020 {
        justify-items: center;
    }
}
 
//ancho-individual
.sliderItemInfo6 {
    // background-color: purple;
    width: 100%;
    height: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
}

.sliderItemInfo6Item {
    background: rgb(239,239,239);
    background: linear-gradient(90deg, rgba(239,239,239,1) 70%, rgba(255,255,255,1) 70%);
    height: 15rem;
    width: 100%;
    display: flex;
    column-gap: .5rem;
    @include m.desktop_1020 {
        // background: red;
        height: 19rem;
        background: linear-gradient(90deg, rgba(239,239,239,1) 75%, rgba(255,255,255,1) 75%);
    }
    @include m.desktop_1200 {
        // background: red;
        height: 22rem;
    }
    @include m.desktop_1400 {
        // background: red;
        height: 24rem;
    }
    .sliderItemInfo6ItemInfo {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        // background-color: purple;
        width: 13rem;
        justify-content: space-between;
        @include m.desktop_1020 {
            // background-color: purple;
            width: 18rem;
        }
        @include m.desktop_1200 {
            width: 25rem;
        }
        @include m.desktop_1400 {
            width: 31rem;
        }
        h3 {
            margin: 0;
            font-weight: 600;
            line-height: 1.5;
        }
        img {
            width: 3rem;
        }
    }
    .sliderItemInfo6ItemImage {
        width: 17rem;
        display: flex;
        align-items: center;
        @include m.desktop_1020 {
            width: 22rem;
        }
        @include m.desktop_1200 {
            width: 26rem;
        }
        @include m.desktop_1400 {
            width: 29rem;
        }
        img {
            border-radius: 1.5rem;
            width: 100%;
            height: 12rem;
            @include m.desktop_1020 {
                height: 15rem;
            }
            @include m.desktop_1200 {
                height: 17rem;
            }
            @include m.desktop_1400 {
                height: 18rem;
            }
        }
    }
}

.sliderItemInfo6ItemInfoCalendar {
    display: flex;
    height: auto;
    width: 10rem;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
    h3 {
        display: flex;
        justify-items: center;
        align-content: center;
        font-weight: 600;
        color: white;
        margin: 0;
        font-size: 1.2rem;
    }
}

.sliderItemInfo6ItemInfoCalendar {
    display: flex;
    height: auto;
    width: 10rem;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    img {
        width: 2rem !important;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5521%) hue-rotate(343deg) brightness(97%) contrast(117%);
    }
    h3 {
        display: flex;
        justify-items: center;
        align-content: center;
        font-weight: 400;
        color: v.$color1;
        margin: 0;
        font-size: 1.2rem;
    }
}

// .swiper-slide4 {
//     background-image: url('../img/top-mobile-pregrado.webp') !important;
//     // background-image: url('https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/banner-centro-quirurgico-enferme.webp') !important;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .swiper-slide4 {
//     background-image: url('../img/top-mobile-pregrado.webp') !important;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }

.swiper-button-next6 {
    // height: 4.5rem;
    // background-color: red !important;
    width: auto;
    height: auto;
    color: white !important;
    text-rendering: auto;
    z-index: 30;
    position: absolute !important;
    // bottom: 50%;
    bottom: .3rem;
    right: 30% !important;
    @include m.phone_360 {
        right: 26% !important;    
    }
    @include m.phone_375 {
        right: 6.5rem !important;  
    }
    // @include m.phone_390 {
    //     right: 4.5rem !important;  
    // }
    // @include m.phone_400 {
    //     right: 5.5rem !important; 
    // }
    // @include m.tablet_768 {
    //     right: 2.5rem !important;
    // }
    // @include m.desktop_1020 {
    //     bottom: 2.5rem;
    //     right: 15.5rem !important;
    // }
    // @include m.desktop_1100 {
    //     right: 19.5rem !important;
    // }
    // @include m.desktop_1300 {
    //     right: 25.5rem !important;
    // }
    // @include m.desktop_1400 {
    //     right: 30.5rem !important;    
    // }
    // @include m.desktop_1500 {
    //     right: 35.5rem !important;
    // }
    // @include m.desktop_1600 {
    //     right: 40.5rem !important;
    // }
    // @include m.desktop_1900 {
    //     right: 54.5rem !important;
    // }
    img {
        width: 1.5rem;
        filter: brightness(0) saturate(100%) invert(0%) sepia(10%) saturate(7461%) hue-rotate(63deg) brightness(95%) contrast(98%);
    }
}
  
.swiper-button-prev6 {
    // height: 4.5rem;
    // background-color: green;
    width: auto;
    height: auto;
    // color: black !important;
    position: absolute !important;
    
    // left: 2rem !important;
    text-rendering: auto;
    z-index: 30;
    bottom: .3rem;
    left: 30% !important;
    @include m.phone_360 {
        left: 26% !important;    
    }
    @include m.phone_375 {
        left: 6.5rem !important;  
    }
    @include m.phone_390 {
        left: 6.5rem !important;  
    }
    // @include m.phone_400 {
    //     left: 5.5rem !important;  
    // }
    // @include m.tablet_768 {
    //     left: 2.5rem !important; 
    // }
    // @include m.desktop_1020 {
    //     bottom: 2.5rem;
    //     left: 12.5rem !important;
    // }
    // @include m.desktop_1100 {
    //     left: 15.5rem !important;
    // }
    // @include m.desktop_1300 {
    //     left: 21.5rem !important;
    // }
    // @include m.desktop_1400 {
    //     left: 25.5rem !important;
    // }
    // @include m.desktop_1500 {
    //     left: 31.5rem !important;
    // }
    // @include m.desktop_1600 {
    //     left: 36.5rem !important;
    // }
    // @include m.desktop_1900 {
    //     left: 51.5rem !important;
    // }
    img {
        width: 1.5rem;
        filter: brightness(0) saturate(100%) invert(0%) sepia(10%) saturate(7461%) hue-rotate(63deg) brightness(95%) contrast(98%);
    }
}

.swiper-pagination6 {
    position: relative !important;
    display: block !important;
    top: auto !important;
    bottom: auto !important;
    // background-color: green;
    text-align: center;
    @include m.desktop_1020 {
        // display: none !important;
    }
}

.bullet6 {
    background-color: v.$color1 !important;
    color: v.$color1  !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bullet6.swiper-pagination-bullet {
    color: v.$color1  !important;
    background-color: v.$color1  !important;
    opacity: 1 !important;
}

// .swiper-pagination-bullet {
//     color: white !important;
//     // background-color: white !important;
//     opacity: 1 !important;
//     // transition: all .5s ease-in-out;
// }

.bullet6.swiper-pagination-bullet-active {
    background-color: black !important;
    width: 2.5rem !important;
    border-radius: .5rem !important;
    transition: all .5s ease-in-out;
}