doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Blog Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="img/logo.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    .manuInnerInfoSearch
                        input(type="text")
                        img(src="img/icon-search.webp", alt="")
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        .bloque1
            //- .bloque1DesktopImage
            //-     img(src="img/shield-desktop-home.webp", alt="")
            .bloque1Container
                .bloque1Float
                    img.bloque1FloatLeft(src="img/shield-mobile-image1.webp", alt="")
                    img.bloque1FloatLeftDesktop(src="img/shield-desktop.webp", alt="")
                    //- img.bloque1FloatRight(src="img/shield-home-mobile-image2.webp", alt="")
                .bloque1Logos
                    img.blog-logo(src="img/logo.webp", alt="")
                    .bloque1LogosSelect
                        h3 Blog Cayetano
                    .bloque1LogosSearch
                        input(type="text")
                        img(src="img/icon-search.webp", alt="")
                    img.top-icon-mobile(src="img/icon-menu2.webp", alt="")
                    button  
                        h3 Quiero ser de Cayetano
                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
                .bloque1Title
                    h3 Blog Cayetano
                    p ¿Quieres una educación de excelencia? Descubre todo sobre nuestras carreras universitarias, carreras para gente que trabaja, segundas especialidades y mucho más.
                .bloque1Slider
                    .slider__container2.swiper.mySwiper2
                        .slider__grid2.swiper-wrapper
                            .slider__item2.swiper-slide
                                .sliderItemInfo2.swiper-slide1
                                    img.sliderItemInfo2Image(src="img/top-mobile-pregrado.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(src="img/image-desktop-home.webp", alt="")
                                    h3.sliderItemInfo2Title ¿En qué consiste la carrera de Ingeniería Ambiental?
                                    .sliderItemCalendar
                                        img(src="img/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    button
                                        h3 Lee más
                                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    img.sliderItemInfo2Image(src="img/top-mobile-pregrado.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(src="img/image-desktop-home.webp", alt="")
                                    h3.sliderItemInfo2Title ¿En qué consiste la carrera de Ingeniería Ambiental?
                                    .sliderItemCalendar
                                        img(src="img/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    button
                                        h3 Lee más
                                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    img.sliderItemInfo2Image(src="img/top-mobile-pregrado.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(src="img/image-desktop-home.webp", alt="")
                                    h3.sliderItemInfo2Title ¿En qué consiste la carrera de Ingeniería Ambiental?
                                    .sliderItemCalendar
                                        img(src="img/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    button
                                        h3 Lee más
                                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
                    .swiper-pagination2
                    .swiper-button-prev2 
                        img(src="img/arrow-black-left.webp", alt="")
                    .swiper-button-next2
                        img(src="img/arrow-black-right.webp", alt="")
                .bloque1Select
                    h3 Pregrado
                    h3 PGE
                    h3 Especialidades
        .bloque2
            .bloque2Container
                .bloque2Title
                    h3 Notas destacadas 
                .bloque2Slider
                    .slider__container3.swiper.mySwiper3
                        .slider__grid3.swiper-wrapper
                            .slider__item3.swiper-slide
                                .sliderItemInfo3.swiper-slide1
                                    img.sliderItemInfo3Image(src="img/blog-home-mobile-image1.webp", alt="")
                                    .sliderItemInfo3Calendar
                                        img(src="img/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    .sliderItemInfo3Info
                                        img(src="img/arrow-black-button.webp", alt="")
                                        h3 ¿Por qué elegir una universidad priorizada?
                            .slider__item3.swiper-slide
                                .sliderItemInfo3
                                    img.sliderItemInfo3Image(src="img/blog-home-mobile-image2.webp", alt="")
                                    .sliderItemInfo3Calendar
                                        img(src="img/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    .sliderItemInfo3Info
                                        img(src="img/arrow-black-button.webp", alt="")
                                        h3 ¿Por qué elegir una universidad priorizada?
                    .bloque2Banner.bloque2BannerDesktop
                        img.bloque2BannerDesktopImage(src="img/gif-redes-nuevo-este.gif", alt="")
                        .bloque2BannerContent
                            .bloque2BannerContentItem
                            .bloque2BannerContentItem
                            .bloque2BannerContentItem
        .bloque3
            .bloque3Container
                .bloque3Title
                    h3 Notas recientes
                .bloque3Slider
                    .slider__container4.swiper.mySwiper4
                        .slider__grid4.swiper-wrapper
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile1.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile1.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                    .swiper-pagination4
                    .swiper-button-prev4 
                        img(src="img/arrow-black-left.webp", alt="")
                    .swiper-button-next4
                        img(src="img/arrow-black-right.webp", alt="")
                .bloque3SliderDesktop
                    .slider__container6.swiper.mySwiper6
                        .slider__grid6.swiper-wrapper
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(src="img/blog-home-mobile1.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 06
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(src="img/blog-home-mobile1.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="img/calendar-icon-whit.webp", alt="")
                                                h3 06
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            img(src="img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(src="img/blog-home-mobile2.webp", alt="")
                    .swiper-pagination6
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Postula a Cayetano con Beca 18
                        h4 Valoramos tu 
                            span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
                .bloque4ContentItems
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(src="img/todos-mobile-image1.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(src="img/todos-mobile-image3.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .bloque4Item
                        img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(src="img/calendar-icon-whit.webp", alt="")
                                h3 04
                                h3 |
                                h3 10
                            .bloque4ItemContentText
                                h3 ¿Por qué elegir una universidad priorizada?
                            .bloque4ItemContentParagraph
                                h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                .bloque4Todes
                    h3 Ver todo
        .bloque5
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        footer
            .footerContainer
                img(src="img/logo-white.webp", alt="")
                .footerTexts
                    h3 Campus Central:
                    h3 Av. Honorio Delgado 430
                    h3 Urb. Ingeniería, San Martín de Porres
        script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")