doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Blog Pregrado
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .manuInner
          .manuInnerContainer
              .manuInnerHeader
                  img(src="img/logo.webp", alt="")
                  h3.manuInnerClose X
              .manuInnerInfo
                  .manuInnerInfoSearch
                      input(type="text")
                      img(src="img/icon-search.webp", alt="")
                  .manuInnerInfoContent
                      h3.manuInnerInfoContentBottom Blog Cayetano
                      h3.manuInnerInfoContentBottom Blog Pregrado
                      h3.manuInnerInfoContentBottom Blog PGE
                      h3 Blog Especialidades
          .manuInnerFooter
            .manuInnerFooterContainer
              h3 Quiero ser de Cayetano
              img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
              img.blog-logo(src="img/logo.webp", alt="")
              .bloque1LogosSelect
                  h3.dropdown-btn Blog Cayetano
                        ul.dropdown-menu
                            li: a(href="#") Pregrado
                            li: a(href="#") Pge  
                            li: a(href="#") Especialidades
              .bloque1LogosSearch
                  input(type="text")
                  img(src="img/icon-search.webp", alt="")
              img.top-icon-mobile(src="img/icon-menu2.webp", alt="")
              button  
                  h3 Quiero ser de Cayetano
                  img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                  .bloque6.bloque6Todos
                    .bloque6Container
                      .bloque6Left.bloque6LeftTodos
                        .bloque1SelectProgram.bloque1SelectTodos
                          h3 Categorías
                        .bloque4ContentItems
                          .bloque4Item.linebottom.bloque4itemcard
                            img.bloque4ItemImage(src="img/todos-mobile-image1.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraIngenieria Ingeniería
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraCiencias Ciencias
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image3.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraSalud Salud
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraEducacion Educación
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraCiencias Ciencias
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image3.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraSalud Salud
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item.linebottom
                            img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraEducacion Educación
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                          .bloque4Item
                            img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
                            .bloque4ItemContent
                                .bloque4ItemContentCalendarGrid
                                  .bloque4ItemContentCalendar
                                    img(src="img/calendar-icon-whit.webp", alt="")
                                    h3 04
                                    h3 |
                                    h3 10
                                  .bloque4ItemContentCarrera
                                    h3.bloque4ItemContentCarreraCiencias Ciencias
                                .bloque4ItemContentText
                                    h3 ¿Por qué elegir una universidad priorizada?
                        .bloque6LeftPagination
                          h3.bloque6LeftPaginationFocus 1
                          h3 2
                          h3 3
                          h3 4
                          h3 5
                          h3 6
                      .bloque6Right.bloque6RightTodos
                       .bloque2ProgramRightContainer
                        .bloque2ProgramRightContainerCategories
                                .bloque1SelectProgramGrid.bloque1SelectProgramGridDesktop
                                    //- .bloque1SelectProgram
                                    //-     h3 Categorías
                                    .bloque1SelectProgramContent.bloque1SelectProgramContentDesktop
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Todo
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopCienciasDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Ciencias
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomCienciasDesktop
                                                h3 Nutrición
                                                h3 Biología
                                                h3 Farmacia y Bioquímica
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopEducacionDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Educación
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomEducacionDesktop
                                                h3 Educación Inicial
                                                h3 Educación Primaria
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopGestionDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Gestión
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomGestionDesktop
                                                h3 Administración
                                                h3 Administración en Salud
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopIngenieriaDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Ingeniería
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomIngenieriaDesktop
                                                h3 Ingeniería Ambiental
                                                h3 Ingeniería Industrial
                                                h3 Ingeniería Biomédica
                                                h3 Ingeniería Informática
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopSaludDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Salud
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomSaludDesktop
                                                h3 Enfermperia
                                                h3 Estomatologia
                                                h3 Medicina Veterinaria
                                                h3 Radiologia
                                                h3 Psicologia
                                                h3 Laboratorio Clínico 
                                                h3 Medicina
                                                h3 Terapia Fisica
                                                h3 Terapia Ocupacional
                                                h3 Terapia de Audicion 
                        .bloque2ProgramRightContainerNewsletter 
                          .newsletterWhitespace
                          .newsletterContent
                              .newsletterImage
                                  img(src="img/tano-newletter.gif", alt="")
                              .newsletterInfo
                                  h3 Conéctate con tu 
                                      span futuro en Cayetano
                                  p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                  input(type="text" placeholder="Tu correo electrónico...")
                                  .newsletterInfoTerminos
                                      input(type="checkbox")
                                      h3 He leído y acepto la política de privacidad de Cayetano.
                                  button
                                      h3 Suscribirme
                                      img(src="img/arrow-black-button.webp", alt="")
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            
                                .bloque1SelectProgramGrid.bloque1SelectProgramGridDesktop
                                    //- .bloque1SelectProgram
                                    //-     h3 Categorías
                                    .bloque1SelectProgramContent.bloque1SelectProgramContentDesktop
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Todo
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopCienciasDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Ciencias
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomCienciasDesktop
                                                h3 Nutrición
                                                h3 Biología
                                                h3 Farmacia y Bioquímica
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopEducacionDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Educación
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomEducacionDesktop
                                                h3 Educación Inicial
                                                h3 Educación Primaria
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopGestionDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Gestión
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomGestionDesktop
                                                h3 Administración
                                                h3 Administración en Salud
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopIngenieriaDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Ingeniería
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomIngenieriaDesktop
                                                h3 Ingeniería Ambiental
                                                h3 Ingeniería Industrial
                                                h3 Ingeniería Biomédica
                                                h3 Ingeniería Informática
                                        .bloque1SelectProgramContentItem
                                            .bloque1SelectProgramContentItemTop.bloque1SelectProgramContentItemTopSaludDesktop
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/arrow-categories.webp", alt="")
                                                h3 Salud
                                            .bloque1SelectProgramContentItemBottom.bloque1SelectProgramContentItemBottomSaludDesktop
                                                h3 Enfermperia
                                                h3 Estomatologia
                                                h3 Medicina Veterinaria
                                                h3 Radiologia
                                                h3 Psicologia
                                                h3 Laboratorio Clínico 
                                                h3 Medicina
                                                h3 Terapia Fisica
                                                h3 Terapia Ocupacional
                                                h3 Terapia de Audicion 
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="img/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="img/arrow-black-button.webp", alt="")
        //- .bloque6
        //-   .bloque6Container
        //-     .bloque6Left.bloque6LeftTodos
        //-       .bloque1SelectProgram.bloque1SelectTodos
        //-         h3 Categorías
        //-       .bloque4ContentItems
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image1.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraIngenieria Ingeniería
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraCiencias Ciencias
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image3.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraSalud Salud
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraEducacion Educación
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraCiencias Ciencias
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image3.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraSalud Salud
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item.linebottom
        //-           img.bloque4ItemImage(src="img/todos-mobile-image4.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraEducacion Educación
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-         .bloque4Item
        //-           img.bloque4ItemImage(src="img/todos-mobile-image2.webp", alt="")
        //-           .bloque4ItemContent
        //-               .bloque4ItemContentCalendarGrid
        //-                 .bloque4ItemContentCalendar
        //-                   img(src="img/calendar-icon-whit.webp", alt="")
        //-                   h3 04
        //-                   h3 |
        //-                   h3 10
        //-                 .bloque4ItemContentCarrera
        //-                   h3.bloque4ItemContentCarreraCiencias Ciencias
        //-               .bloque4ItemContentText
        //-                   h3 ¿Por qué elegir una universidad priorizada?
        //-       .bloque6LeftPagination
        //-         h3.bloque6LeftPaginationFocus 1
        //-         h3 2
        //-         h3 3
        //-         h3 4
        //-         h3 5
        //-         h3 6
        //-     .bloque6Right
        //-       .bloque2ProgramRightContainerNewsletter 
        //-         .newsletterWhitespace
        //-         .newsletterContent
        //-             .newsletterImage
        //-                 img(src="img/tano-newletter.gif", alt="")
        //-             .newsletterInfo
        //-                 h3 Conéctate con tu 
        //-                     span futuro en Cayetano
        //-                 p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
        //-                 input(type="text" placeholder="Tu correo electrónico...")
        //-                 .newsletterInfoTerminos
        //-                     input(type="checkbox")
        //-                     h3 He leído y acepto la política de privacidad de Cayetano.
        //-                 button
        //-                     h3 Suscribirme
        //-                     img(src="img/arrow-black-button.webp", alt="")
              //- .bloque2Banner
              //-   .bloque2BannerContent
              //-     .bloque2BannerContentItem
              //-     .bloque2BannerContentItem
              //-     .bloque2BannerContentItem
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                      span excelencia académica
                    button
                      h5 Conoce más 
                      img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="img/arrow-black-button.webp", alt="")
        footer
          .footerContainer
            img(src="img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")